# Java
backend/**/*.class
backend/**/*.jar
backend/**/*.war

# Gradle
backend/.gradle/
backend/build/
backend/out/

# Gradle Wrapper
!backend/gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
backend/.idea/
backend/**/*.iml
frontend/.idea/
frontend/**/*.iml

# Miscellaneous
backend/**/*.log
